

:root {
  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light-dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gradient2: linear-gradient(
        45deg,
        #333333,
        #dd1818
    );
    --gradient3: linear-gradient(135deg,
    #000000,
    #434343,
    #000000
    );
    --gradient4: linear-gradient(
        45deg,
        #333333,
        #dd1818,
        #333333
    );

}

 body, html {
  scroll-behavior: smooth;
  background-image: none;
}

.chat-section {
  padding-bottom: none;
}

.chat-wrapper {
  margin: auto;
  border: 2px solid #555;
  width: 90%;
  max-width: 800px;
  min-height: 400px;
  padding: 20px;
  border-radius: 10px;
  background: #202123;
  box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.3);
  /* border: 1px solid red; */
}

.chat-text {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
  position: relative;
  top: 0;
  background-color: none;
  margin-bottom: 20px;
}
.chat-subtext {
  font-size: 1.5em;
  line-height: 1.1;
  text-align: center;
  position: relative;
  top: 0;
  background-color: none;
  margin-bottom: 20px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 300px;
  max-height: 50vh;
  overflow: auto;
  padding: 10px;
}

.chat-box p {
  background-color: darkslategray;
  max-width: 70%;
  padding: 15px;
  border-radius: 20px;
  word-wrap: break-word;
} 

.chat i {
  background-color: darkslategray;
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
}

p span:first-child {
  margin-right: 0;
}

.user_msg {
  text-align: right;
  align-self: flex-end;
}

.assistant_msg {
  text-align: left;
  align-self: flex-start;
}

.hide {
  visibility: hidden;
  display: none;
}

.about-form {
  text-align: center;
  position: sticky;
  bottom: 0;
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.about-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  background-color: #2E2F34;
  color: #FFFFFF;
}

.about-input:focus {
  outline: none;
  background-color: rgb(40, 35, 35);
}

.warning {
  text-align: center;
}

/*Scroll bar in chat*/

.chat-box::-webkit-scrollbar {
  width: 8px; 
}

.chat-box::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: darkslategray; 
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7); 
}

.clear-chat-btn {
  align-items: center;
  background-color: darkslategray;
  margin-top: 15px;
  color: #FFFFFF;
}

/* TIMELINE CONTENT */

.timeline-container {
  position: relative;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}



.timeline-text {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 8rem;
  line-height: 0.1;
  text-align: left;
  position: relative;
  top: 0;
  background-color: none;
  z-index: 1;
}

.timeline-line {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}


.rifo-section {
  background-color:#007ACC;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rifo-title {
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.1;
  text-align: center;
  position: relative;
  font-size: 3rem;
  top: 0;
  background-color: none;
  margin-bottom: 20px;
}

.rifo-description {
  width: 50%;
  text-align: left; 
  margin-top: 100px;
  max-width: 500px;
  justify-content: baseline;
  padding-left: 150px;
  font-size: 1.2rem;
  font-weight: bold;
}

.rifo-grid {
  display: flex;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid red; */
}

.rifo-image {
  width: 75%;
  max-height: 500px;
  border-radius: 20px;
  transform: 1.5s ease;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.rifo-image:hover {
  transform: translateY(-5px)
}

.rifo-image-container {
  text-align: right;
  padding-left: 150px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.tbc {
  text-align: center;
  font-size: 2rem;
}




