/* gradients */
:root {

    --gradient2: linear-gradient(
        45deg,
        #333333,
        #dd1818
    );
    --gradient3: linear-gradient(135deg,
    #000000,
    #434343,
    #000000
    );
    --gradient4: linear-gradient(
        45deg,
        #333333,
        #dd1818,
        #333333
    );

    
}

/* body */

html, body {
    /* height: 100%; */
    margin: 0;
    background-color: black;
    background-image: none;
    background-size: cover;
    overflow-x: hidden;
}

/* scrollbar */

::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track {
    background-image: var(--gradient3);
}
::-webkit-scrollbar-thumb{
    background-image: var(--gradient4);
    border-radius: 10px;
}

