:root {

  --gradient2: linear-gradient(
      45deg,
      #333333,
      #dd1818
  );
  --gradient3: linear-gradient(135deg,
  #000000,
  #434343,
  #000000
  );
  --gradient4: linear-gradient(
      45deg,
      #333333,
      #dd1818,
      #333333
  );

  
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: var(--gradient3);
  font-family: 'Poppins', sans-serif;
}

/* Body */
.home-intro {
    width: 80%;
    height: 70%;
    top: 5%;
    margin: auto;
    padding-top: 140px;
    position: relative;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    /* border: 1px solid red; */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  width: 100vw;
  height: 50vh;
  gap: 20px;
  /* border: 1px solid red; */
}


  /* Text styling */
  .home-text {
    line-height: 1.6;
    margin-bottom: 20px;
    margin-right: 100px;
    flex: 1;
  }
  
  .home-text h1 {
    font-size: 2.5rem; 
    margin-bottom: 10px;
    white-space: nowrap;
  }
  
  .home-greeting {
    font-size: 1.2rem; 
    margin-bottom: 20px; 
  }
  
  .home-text span {
    font-weight: bold; 
  }
  
  .home-intro {
    margin-top: 36px; 
  }
  

.home-text h1 span{
    background: var(--gradient2);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}
.home-text h1 span:first-child{
    animation: textcolor1 3s /*linear*/ infinite alternate;
}
@keyframes textcolor1 {
    0%{
        background-size: 0%;
    }
    100%{
        background-size: 100%;
    }
}

.home-quote {
  display: flex;
  font-size: 1.7rem;
  flex: 1;
  /* border: 1px solid red; */
  font-style: italic;
  margin: auto;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.quote {
    animation: fadeInOut 10s infinite; 
    transition: opacity 1s ease-in-out;
    position: fixed;
}
