:root {

    --gradient2: linear-gradient(
        45deg,
        #333333,
        #dd1818
    );
    --gradient3: linear-gradient(135deg,
    #000000,
    #434343,
    #000000
    );
    --gradient4: linear-gradient(
        45deg,
        #333333,
        #dd1818,
        #333333
    );

    
}

.portfolio-body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: none;
}

.portfolio-title {
    text-align: center;
}

/* Body */

.portfolio-gallery {
    width: 100vw;
    height: 500%;
    /* border: 1px solid red; */
    margin: 20px;
    
}

.portfolio-container h1 {
    text-align: center;
}

.portfolio-container h2 {
    text-align: center;
}